* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    align-items: stretch;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    background-color: rgb(206, 240, 241);
}

header {
    padding: 20px 35px;
    background-color: rgb(216, 231, 217);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    color: #304ceb;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #304ceb;
}

ul {
    list-style: none;
}

header nav {
    margin: 7px 0;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw;
}

header nav ul li a:hover {
    background: #d4ccf1;
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;
}
.me {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
     background-position: 80%;
}
.about-me img {
max-width: 100%;
  height: auto;
  opacity: .75;
}


.divider {
    border-bottom: 1px solid black;
    margin: 30px 0;
    width: 40%;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: 10px;
    flex-wrap: wrap;
}

.about-me p {
    text-align: center;
}

#work a {
    text-decoration: none;
    color: ivory;
}

.projects {
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: relative;
}

.project-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: ivory;
    opacity: .75;
    font-size: 2vw;
      }

.work {
    display: flex;
    margin: 10px;
    flex: 1;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
}

img {
    border-radius: 10px;
}

.work img {
    width: 100%;
    display: block;
}

.section-title {
    font-size: 48px;
    color: #024e76;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

footer {
    background: rgb(206, 240, 241);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

footer nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw;
}

footer nav ul li a:hover {
    background: #d4ccf1;
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;
}

.primary-border {
    border-color: #6872f7;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }

    section {
        padding-bottom: 30px 15px;
    }
}
